body, html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  color: rgb(234, 234, 234);
  background-color: rgb(12, 12, 12);
  overflow-x: hidden;
}

.container {
  position: relative;
  overflow: hidden;
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
  z-index: 4;
}

.owl-container {
  position: fixed;
  top: -10%;
  left: 20%;
  width: 60%;
  height: 100vh; /* Tämä varmistaa, että pöllökuva kattaa koko näytön korkeuden */
  background-image: url('images/HY_Serendip_main-Vertical.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  z-index: 1; /* Aseta z-indeksi, jotta se sijoittuu muiden elementtien alle */
}

.overlay {
  position: relative;
  z-index: 2;
}

.icons-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  position: absolute;
  top: -30%;
  left: 20%;
  width: 60%;
  height: 270px;
  z-index: 2;
}

h1 {
  position: relative;
  margin-top: 35%;
  font-size: 9vw;
  text-align: center;
  z-index: 3;
}

.icons {
  position: absolute; /* Muutetaan position-arvoksi absolute */
  left: 50%; /* Keskittää iconin vaakasuunnassa */
  top: 100%; /* Määrittelee kuinka korkealle icon sijoitetaan, pienemmät arvot nostavat sitä ylöspäin */
  transform: translate(-50%, -50%); /* Keskittää iconin suhteessa sen omiin dimensioihin, auttaa säilyttämään keskityksen myös kun ikonin paikkaa muutetaan */
  width: 20%;
  z-index: 3;
}

.content {
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 100%);
  background-attachment: fixed;
  z-index: 2;
  margin-top: -4%;
  padding-top: 20px;
}

.centered-text {
  text-align: center;
  width: 50%;
  margin: 10px auto;
}

.game-link {
  display: block;
  text-align: center;
  margin: 50px 0;
  color: rgb(214, 143, 13);
  font-weight: bold;
  text-decoration: none;
}

.video-container {
  width: 60%;
  margin: 0 auto 50px auto;
  position: relative;
  overflow: hidden;
}

#videoElement {
  width: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: 50px;
}

.content-container {
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.content-children {
  width: 100%;
  margin: 0 auto;
}

.learning-goals {
  font-size: 100%;
}

.learning-text {
  margin-top: -80px;
  width: 50%;
  margin-left: 50%;
  font-size: 100%;
}

.earth-image {
  width: 100%;
  display: block;
  margin: 50px auto;
  object-position: center;
  position: relative;
  z-index: 1;
}

.book-title, .book-text {
  position: relative;
  z-index: 2;
  width: 100%;
}

.book-title {
  margin-top: -290px;
  font-size: 100%;
}

.book-text {
  margin-top: -50px;
  width: 50%;
  margin-left: 50%;
  font-size: 100%;
}

.episode-container {
  display: flex;
  flex-direction: row; /* Muutettu row-reverse -> row */
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}


.titles-and-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px; /* Jos tarvitset lisää tilaa oikealla puolella */
}

.titles {
  flex: 1;
  padding-right: 20px;
  margin-top: 100px;
}

.rainforest-section {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aseta takaisin flex-end, jotta kuva on oikealla puolella */
}

.rainforest-text {
  margin-top: 0px;
  width: 100%; /* Muutettu 40% -> 100%, jotta se ottaa koko saatavilla olevan leveyden */
  font-size: 12px;
  margin-bottom: 50px;
  text-align: left;
}

.borealforest-image {
  width: 500px;
  margin-top: 180px;
  margin-bottom: 10px;
}

.titles h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.titles h3 {
  font-size: 1.5em;
}


.upcoming-title {
  margin-top: 100px;
  clear: both;
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

.episodes {
  margin-top: 50px;
  text-align: center;
}

.episodes img {
  width: 3%;
  margin: 30px;
}

.episode-titles {
  text-align: center;
  margin-top: 10px;
  font-size: 120%;
}

.episode-titles p {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 100px;
}

.footer-wrapper {
border-top: 1px solid orange; /* Oranssi viiva */
margin: 0 auto; /* Keskitä viiva horisontaalisesti */
max-width: 90%; /* Aseta viivan maksimileveys 90% näytön leveydestä */
padding-top: 50px; /* Lisätään 50px tyhjää yläpuolelle */
}

.footer {
display: flex;
justify-content: space-between;
padding: 0 5%;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column1 .footer-logo {
  display: block;
  flex-direction: column;
  align-items: flex-start; /* Asetetaan sisältö vasempaan reunaan */
}
.footer-logo {
  width: 150px;
  height: auto; /* säilyttää kuvan mittasuhteet */
  margin-bottom: 50px; /* Lisätään 50px tyhjää logon alapuolelle */
}

.spacer {
  height: 50px;
}

.bottom-space {
  height: 50px;
  border-bottom: none; /* Poistetaan alin oranssi viiva */
}
