@font-face {
  font-family: 'Gotham Narrow Bold';
  src: url('fonts/GothamNarrowBold.otf');
}

@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('fonts/GothamNarrowBook.otf');
}

@font-face {
  font-family: 'Gotham Narrow Medium';
  src: url('fonts/GothamNarrowMedium.otf');
}


body, html {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-family: 'Gotham Narrow Book', sans-serif;
  line-height: 1.6;
  color: rgb(234, 234, 234);
  overflow-x: hidden;
  height: 100%;

}

html {
  background-image: url('images/HY_Serendip_main-Horizontal.jpg');
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  background-color: rgb(12, 12, 12);
}

body {
  width: 100%;
}


.container {
  position: relative;
  margin-top: 25%;
  width: 100%;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 3;
  transition: background-color 0.5s ease;
}

.top-bar.scrolled {
  background-color: none;
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 150px;
  z-index: 3;
}



.overlay {
  position: relative;
  z-index: 2;
  height: 200px;
}

.icons-gradient {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(12, 12, 12, 1) 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

h1 {
  font-family: 'Gotham Narrow Bold', sans-serif;
  position: relative;
  font-size: 9vw;
  text-align: center;
  z-index: 3;
  line-height: 0;
  top:50%;
}

.icons {
  position: sticky; /* Muutetaan position-arvoksi absolute */
  left: 50%; /* Keskittää iconin vaakasuunnassa */
  top: 35px;
 /* Määrittelee kuinka korkealle icon sijoitetaan, pienemmät arvot nostavat sitä ylöspäin */
  transform: translate(-50%, -50%); /* Keskittää iconin suhteessa sen omiin dimensioihin, auttaa säilyttämään keskityksen myös kun ikonin paikkaa muutetaan */
  width: 20%;
  z-index: 4;
}

.icons-top-bar {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  z-index: 2;
  display: none;
}

.icons-top-bar.scrolled {
  display: none;
}

.content {
  position: relative;
  background: linear-gradient(to bottom, rgba(12, 12, 12, 1) 0%, rgba(12, 12, 12, 1) 100%);
  background-attachment: fixed;
  z-index: 2;
}

.centered-text {
  text-align: center;
  width: 50%;
  margin: 10px auto;
}

.game-link {
  display: block;
  text-align: center;
  margin: 50px 0;
  color: rgb(214, 143, 13);
  font-weight: bold;
  text-decoration: none;
}

.video-container {
  width: 70%;
  margin: 0 auto 50px auto;
  position: relative;
  overflow: hidden;
}

#videoElement {
  width: 100%;
  display: block;
  object-fit: contain;
  margin-bottom: 50px;
}

.content-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(12, 12, 12);
}

.content-children {
  width: 100%;
  margin: 0 auto;
}

.learning-goals {
  display: flex;
  flex-direction: column;
}

.learning-goals-main {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  height: 400px;
  overflow-x: hidden;
}

.learning-goals-book {
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: url('images/Earth2.png');
  background-size:auto 100%;
  padding-left: 20%;
  margin-left: -20%;
  padding-right: 20%;
  margin-right: -20%;
  align-items: center;
  height: 500px;
}

.learning-goals-title {
  font-family: 'Gotham Narrow Medium', sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  padding-top: 50px;
  padding-left: 20px;
  align-self: flex-start;
}

.learning-text {
  width: 100%;
  margin-left: 0%;
  font-size: 100%;
}

.earth-image {
  width: 100%;
  display: block;
  margin: 50px auto;
  object-position: center;
  position: relative;
  z-index: 1;
}

.book-title, .book-text {
  position: relative;
  z-index: 2;
}

.book-title {
  font-size: 32px;
  font-family: 'Gotahm Narrow Medium', sans-serif;
  align-self: flex-start;
  padding-left: 20px;
  padding-top: 70px;
}

.book-text {
  width: 100%;
  margin-left: 0%;
  font-size: 100%;
}

.episode-container {
  display: flex;
  flex-direction: row; /* Muutettu row-reverse -> row */
  justify-content: space-between;
  align-items: flex-start;
  z-index: 4;
  overflow-x: hidden;
  background-color: rgb(12, 12, 12);
}


.titles-and-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.titles {
  flex: 1;
  padding-right: 20px;
  margin-top: 100px;
}

.rainforest-section {
  display: grid;
  grid-template-columns: 35% 65%;
  width: 100%;
}

.rainforest-text {
  margin-top: 0px;
  width: 100%; /* Muutettu 40% -> 100%, jotta se ottaa koko saatavilla olevan leveyden */
  margin-bottom: 50px;
  text-align: left;
}

.borealforest-image {
  width: 60vw;
}

.borealforest-icon {
  width: 16px;
}

h2 {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: 'Gotham Narrow Medium', sans-serif;
}

h3 {
  font-size: 28px;
  font-family: 'Gotham Narrow Medium', sans-serif;
}


.upcoming-title {
  padding-top: 100px;
  clear: both;
  text-align: center;
  font-size: 32px;
  font-family: 'Gotham Narrow Medium', sans-serif;
}

.bottom-bar {
  background-color: rgb(12, 12, 12);
  width: 100%;
  position: relative;
  z-index: 4;
}

.episodes {
  margin-top: 50px;
  text-align: center;
}

.episodes img {
  width: 3%;
  margin: 30px;
}

.episode-titles {
  text-align: center;
  margin-top: 10px;
  font-size: 120%;
}

.episode-titles p {
  display: inline-block;
  margin: 0 10px;
  margin-bottom: 100px;
}

.footer-wrapper:before {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto 5em auto;
  border-bottom: 1px solid orange; /* Oranssi viiva */
}

.footer-wrapper {
width: 100%;
padding-top: 50px; /* Lisätään 50px tyhjää yläpuolelle */
background-color: rgb(12, 12, 12);
position: relative;
z-index: 2;
}

.footer {
display: flex;
justify-content: space-between;
padding: 0 5%;
padding-bottom: 5%;
}

.column {
  flex: 1;
  padding: 0 10px;
}

.column1 .footer-logo {
  display: block;
  flex-direction: column;
  align-items: flex-start; /* Asetetaan sisältö vasempaan reunaan */
}
.footer-logo {
  width: 150px;
  height: auto; /* säilyttää kuvan mittasuhteet */
  margin-bottom: 50px; /* Lisätään 50px tyhjää logon alapuolelle */
}

.spacer {
  height: 50px;
}

.bottom-space {
  height: 50px;
  border-bottom: none; /* Poistetaan alin oranssi viiva */
}

/* Overrites for mobile devices */
@media screen and (max-width: 768px) {

  html {
    background-image: url('images/HY_Serendip_main-Vertical-cropped.jpg');
  } 

  .logo {
    width: 100px;
  }

  .centered-text {
    width: 80%;
  }

  .top-bar.scrolled {
    background-color: rgb(12, 12, 12);
  }
  .icons-top-bar.scrolled {
    display: block;
  }


  .video-container {
    width: 100%;
  }

  .content-container {
    width: 80%;
  }

  .learning-goals-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .learning-goals-title {
    padding-top: 0px;
    padding-left: 0px;
  }

  .learning-goals-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .book-title {
    padding-top: 0px;
    padding-left: 0px;
  }



  .episode-container {
    flex-direction: column;
    position: relative;
  }

  .rainforest-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .borealforest-image {
    width: 100vw;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .episode-titles p {
    font-size: 16px;
    
  }
  
  .column1 .footer-logo {
    align-items: center;
    padding: 40px 50px 0;
  }


}
